<!-- 
    [cssClasses]="config.defaultTableClasses()" 
    (page)='setPage($event)'
(sort)="onSort($event)"
-->

<!--
<ngx-datatable
#tableTmpl
class="material"

[rows]="rows"
[columnMode]="'force'"
[headerHeight]="'auto'"
[footerHeight]="'auto'"
[rowHeight]="'auto'"
[externalPaging]="true"
[externalSorting]="true"
[loadingIndicator]="loading"
[count]="page.totalCount"
[offset]="page.currentPage - 1"
[limit]="page.pageSize"
> -->

<!--
<ngx-datatable-column [maxWidth]="75" name="#" prop="id" [resizeable]="false"></ngx-datatable-column>
<ngx-datatable-column name="Title" [resizeable]="false"></ngx-datatable-column>
<ngx-datatable-column name="Tag" prop="tag" [resizeable]="false"></ngx-datatable-column>
<ngx-datatable-column name="Category" prop="category.name" [resizeable]="false"></ngx-datatable-column>
<ngx-datatable-column name="Actions" headerClass="actions" cellClass="actions" [sortable]="false" [resizeable]="false">
  <ng-template let-article="row" let-value="value" ngx-datatable-cell-template>
    <a class="btn btn-sm btn-link btn-table" [routerLink]="['../', article.id, 'edit']">Edit</a>
  </ng-template>
</ngx-datatable-column>

</ngx-datatable>-->